{% trans_default_domain "wellcommerce" %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-12">
                <div class="row">
                    {% for page in cmsPages() if page.children|length %}
                        <div class="col-sm-4 menu">
                            <h3>{{ page.name }}</h3>
                            <ul>
                                {% for childPage in page.children %}
                                    <li><a href="{{ childPage.route }}">{{ childPage.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    <div class="col-sm-4 menu">
                        <h3>{% trans %}client.heading.footer_links{% endtrans %}</h3>
                        <ul>
                            {% if app.user and is_granted('ROLE_CLIENT') %}
                                <li><a href="{{ path('front.client_settings.index') }}">{% trans %}client.link.settings{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client.logout') }}">{% trans %}client.link.logout{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client_order.index') }}">{% trans %}client.link.orders{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client_address_book.index') }}">{% trans %}client.link.address_book{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client_wishlist.index') }}">{% trans %}client.link.wishlist{% endtrans %}</a></li>
                            {%  else %}
                                <li><a href="{{ path('front.client.login') }}">{% trans %}client.link.login{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client_password.reset') }}">{% trans %}client.link.password_forgotten{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12"></div>
        </div>
    </div>

    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 left">
                    {{ "now"|date("Y") }} © {{ currentShop().name }} / All rights reserved
                </div>
                <div class="col-lg-6 right text-right">
                    Powered by <a href="http://wellcommerce.org" title="WellCommerce - an open-source e-commerce solution">
                        <img src="{{ asset('themes/wellcommerce-default-theme/assets/img/footer-print.png') }}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include 'WellCommerceAppBundle:Front:modals.html.twig' %}
</footer>
<img id="tracking" src="/connection.png" class="hide"/>
<style type="text/css">
.frame-chat{
   position: fixed !important;
width: 300px;
height: 400px;
bottom: 0px;
right: 0px;
z-index: 10000;
-webkit-box-shadow: -19px 14px 37px -4px rgba(143, 143, 143, 1);
-moz-box-shadow: -19px 14px 37px -4px rgba(143, 143, 143, 1);
box-shadow: -19px 14px 37px -4px rgba(143, 143, 143, 1);
border: 4px solid #b2b2b2;
 }
</style>
<script src="/js/finger.js" type="text/javascript"></script>
<script src="{{ asset('msg/js/adapter.js') }}" type="text/javascript"></script>
<script src="/msg/js/bot.js" type="text/javascript"></script>
