<div class="message-cell {{isMine}} text" id="{{id}}" userid="{{userID}}">

    <div class="status status{{status}}">

        <span class="sending glyphicon glyphicon-arrow-right"></span>
        <span class="sent glyphicon glyphicon-ok-circle  "></span>

    </div>

    <div class="avatar">
        <img src="{{ avatarURL }}"/>
    </div>

    <div class="info">

        <span class="name"> {{attribute.product.name}} </span>
        <div class="from-them-image">
            <img src="{{ attribute.product.image }}"/>
        </div>
        <span>
            <label><input type="radio" value="1">Like</label>
            <label><input type="radio" value="0">No</label>
        </span>
        <span class="time"> {{formatTime created}} </span>

    </div>

    <div class="message">
        <div>{{{ message }}}</div>
    </div>

    <div class="clearfix"></div>

</div>
